.speedSlider {
  -fx-alignment: center;
}

.root {
  -fx-alignment: center;
}

.graphic-buttons{
  -fx-alignment: center;
  -fx-vgap: 30px;
}

.game-buttons {
  -fx-alignment: center;
  -fx-spacing: 10;
  -fx-padding: 10;
}
